@import '../variables';

.field {
  input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 8px;
    padding-left: 0;
    border-bottom: 1px solid $secondary;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: $text;

    &::placeholder {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: $secondary;
    }
  }
}