@import '/src/scss/variables';


.sidebar {
  width: 230px;

  .title {
    font-weight: 700;
    font-size: 26px;
    line-height: 60px;
    color: $text;
    margin-bottom: 30px;
  }

  .habits {
    li {
      font-weight: 700;
      font-size: 14px;
      line-height: 50px;
      margin-bottom: 20px;
      color: $text;
      transition: color .3s ease-in;
      cursor: pointer;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    
      &:hover {
        color: $primary;
      }
    } 
  }
}
