$background-gradient: linear-gradient(225deg, #FFFFFF 0%, #EFF1F5 100%), #FFFFFF;
$background-primary: linear-gradient(180deg, #654EA3 0%, #EAAFC8 100%); 
$background-overlay: linear-gradient(223.05deg, #B2B2B2 4.1%, rgba(23, 25, 48, 0.898039) 97.36%), rgba(0, 0, 0, 0.5);
$text: #171930;
$primary: #654EA3;
$secondary: #6D7B98;
$warning: #DB2F2F;
$purple: linear-gradient(180deg, #654EA3 0%, #EAAFC8 100%);
$red: linear-gradient(180deg, #FF512F 0%, #F19C8E 100%);
$orange: linear-gradient(180deg, #FF5F6D 0%, #FFC371 100%), #C4C4C4;
$green: linear-gradient(180deg, #3C8F3F 0%, #DCE35B 100%), #C4C4C4;
$yellow: linear-gradient(180deg, #FFD194 0%, #F3F752 100%);
$blue: linear-gradient(180deg, #144ACE 0%, #6BAEFA 100%), #C4C4C4;
$grey: linear-gradient(360deg, #A5AFC4 0%, #BDC3C7 0.01%, #2C3E50 97%), #C4C4C4;


$container-width: 90%;
$duration: 0.2s;
